<h1>Admin Index page</h1>


<% @shelters.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>

<h1>Shelters with Pending Applications</h1>      
  <% @shelters_with_pending_apps.each do |shelter| %>
    <p><%= shelter.name %></p>
      <% end %>

